services:
  dev:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../:/workspace
      - ${HOME}/.config/gcloud:/root/.config/gcloud:ro
      - /var/run/docker.sock:/var/run/docker.sock 
      - ../app/requirements.txt:/app/requirements.txt
    user: root
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DB_URL=postgresql+psycopg://app:app@postgres:5432/app
      - PIP_DISABLE_PIP_VERSION_CHECK=1
      - PYTHONUNBUFFERED=1
      - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json

    ports:
      - "8001:8000"
    command: >
      bash -lc "
        pip3 install -r app/requirements.txt ||true;
        exec sleep infinity
      "

  # frontend:
  #   build:
  #     context: ../frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8009:80"
  #   depends_on: [dev]

  postgres:
    image: postgis/postgis:16-3.4
    environment:
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=app
      - POSTGRES_DB=app
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-app} -d ${POSTGRES_DB:-app} -h localhost"]
      interval: 3s
      timeout: 5s
      retries: 20
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  airflow:
    image: apache/airflow:2.9.3-python3.12   
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://app:app@postgres:5432/airflow
      AIRFLOW__WEBSERVER__SECRET_KEY: changeme
      AIRFLOW_CONN_DATA_POSTGRES: postgresql+psycopg2://app:app@postgres:5432/app
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      PYTHONPATH: /workspace 
      GOOGLE_APPLICATION_CREDENTIALS: /home/airflow/.config/gcloud/application_default_credentials.json
      GOOGLE_CLOUD_PROJECT: kamal-vuln-scanner
    volumes:
    - ./secrets/ee-service-account.json:/opt/airflow/secrets/ee-service-account.json:ro
    - ../:/workspace
    - ../airflow/dags:/opt/airflow/dags
    - airflow_logs:/opt/airflow/logs         
    - airflow_plugins:/opt/airflow/plugins
    - ../airflow/requirements/airflow.txt:/opt/airflow/requirements.txt:ro
    - ${HOME}/.config/gcloud:/home/airflow/.config/gcloud:ro
    user: "${AIRFLOW_UID:-50000}:0"
    ports:
      - "8070:8080"
    command: >
      bash -lc "
        pip install -r /opt/airflow/requirements.txt || true;
        airflow db init;                    
        airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true;
        airflow webserver --port 8080 & 
        exec airflow scheduler
      "




volumes:

  airflow_dags:
  airflow_logs:
  airflow_plugins:
  airflow_requirements:
  pgdata:
    external: true
    name: fastapi-pg-dev_devcontainer_pgdata
